<html>
    <head>
        {% load static %}
        <link href="{% static 'ai_contract_review/index.css' %}" rel="stylesheet">
    </head>
    <body>
        <div id="main_content" class="flex-box">
            <div class="widget">
                <div class="header">
                    <div class="title">AI Contract Scanner</div>
                </div>
                <div class="upload-button" onclick="document.getElementById('contract_upload').click();">
                    Upload New Contract
                    <input id="contract_upload" type="file" accept=".pdf,.docx" />
                </div>
                <div class="table">
                    <div class="row table-header">
                        <div class="cell" data-col="name">
                            Contract Name
                        </div>
                        <div class="cell" data-col="date">
                            Date
                        </div>
                        <div class="cell" data-col="status">
                            Status
                        </div>
                        <div class="action" data-col="action">

                        </div>
                    </div>
                    {% if contract_list %}
                        {% for contract in contract_list %}
                        <div class="row" data-status={{ contract.get_data_status }}>
                            <div class="cell" data-col="name">
                                {{ contract.filename }}
                            </div>
                            <div class="cell" data-col="date">
                                01/28/2024
                            </div>
                            <div class="cell" data-col="status">
                                {{ contract.get_status_text }}
                            </div>
                            <div class="cell" data-col="action">
                                <div class="badge">
                                    {{ contract.get_button_text }}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </body>
</html>